/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    font: 16px/1.5 'PT Sans', 'sans-serif';
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-image: linear-gradient(to left bottom, #2f9078, #00878c, #007b9d, #006ba3, #43589a);
    background-size: 100% 1000px;
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}